article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

#answer {
    display: none;
    width:300px;
    height: 200px;
    vertical-align: middle;
}

.input-div {
    vertical-align: middle;
}

.result {
    display: none;
}